<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/viability/dashboard']"><i class="icon-speedometer"></i> Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/viability/snapshot-list']"><i class="icon-speedometer"></i> Snapshot <span class="badge badge-info">NEW</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/viability/scenario-list']"><i class="icon-speedometer"></i> Scenario<span class="badge badge-info">NEW</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/viability/scenario-edit']"><i class="icon-speedometer"></i> Scenario Edit<span class="badge badge-info">NEW</span></a>
      </li>
    </ul>
  </nav>
</div>