<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="divider m-h"></li>
      <li class="nav-title">
        Code Examples
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/code-examples/overview']"><i class="icon-speedometer"></i> Overview</a>
      </li>
      <li class="divider m-h"></li>
      <li class="nav-title">
        Reactive Forms
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-note"></i> Reactive Forms</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/code-examples/reactive-forms/overview']"><i class="icon-speedometer"></i> Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/register']"><i class="icon-star"></i> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/404']"><i class="icon-star"></i> Error 404</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/500']"><i class="icon-star"></i> Error 500</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>